// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
  
  display: grid;
  grid-template-columns: 50rem;
  grid-template-columns:[full-start]1fr [center-start]  repeat(12,[col-start] minmax(min-content,12rem)[col-end])[center-end] 1fr[full-end];
  border-top: 2px solid  rgba(13, 122, 218, 0.1);
  border-bottom: 2px solid  rgba(13, 122, 218, 0.1);
  


  &__left{

    grid-column: full-start / col-end 7;
    color: white !important;

    background-image: linear-gradient(to right ,white ,rgba(13, 122, 218, 0.1));



}
&__right{
    grid-column: col-end 7/full-end;
    background: rgba(13, 122, 218, 0.1);

  
}
}


.ab{

    
        &__container-image{

            position: relative;

           // width: 100%;
 


        }
    


    &__image{
        position: absolute;
        overflow: hidden;
        

        &-1{
            top: 16rem;
            z-index: 2;
            left: 25%;


           

        }
        &-2{
            top: 1rem;
            left: 7%;
            z-index: 1;
            

        }
        &-3{
            top: 3.7rem;
            left: -15%;
            z-index: 3;


        }


    }


   

    

    &__left{

        p{
            line-height: 25px !important;
        }
        

        padding: 15rem;

        grid-column: full-start / col-end 7;

        ul{
           // display: none;
             font-size: 14px;
             margin-top: .5rem;
    
            color: #405767;
            li{

                &:nth-child(1){
                    margin-top: 1rem;
                }
                margin-bottom: 1rem;
            }
           
        }

    }
    &__right{
        grid-column: col-end 7/full-end;

        //background: rgba(13, 122, 218, 0.1);
    }

   

}