.contact{

    
    &__left{

        

       grid-column:  full-start/col-end 8;

       position: relative;


       img:nth-child(1){
           width: 150%;
           position: absolute;
           left: -50%;
           top: -45%;      
       }
       img:nth-child(2){
        width: 65%;
        position: absolute;
        left: -26%;
        top: -18%;
        z-index: 1;
       }

       &-block{
        
            position: absolute;
            width: 50%;

            height: 50%;


            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);

            background: #E2F2FA;
            z-index: -1;
       }
        

    }
    &__right{

        

      

                grid-column:  col-end 8 /full-end;
            //   background-color: orange;
            position: relative;
            
             &--container{
                 position: absolute;
                 top: 50%;
                 transform: translateY(-50%);
                 margin-left: -30%;
             }
            .heading-tert{
                margin-top: .5rem;
                margin-bottom: 3rem;
            }

            

            button{
                text-align: end;
                margin: 2rem 0;
                display: flex;
                
                img{
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    padding-right:  1rem;
                    margin-right: 1rem;
                }
            }

    }

    

}
.bc{

    grid-column: full-start/full-end;

    h2{
        margin-left: 9%;
    }

    p{
        line-height: 2.5;
    }
   
    &__container{
        display: grid;
        grid-column-gap: 1rem;
      //  padding: 5rem;
        grid-template-columns:[full-start]1fr [center-start]  repeat(9,[col-start] minmax(min-content,13rem)[col-end])[center-end] 1fr[full-end];
      
        a:link,a:visited{
            font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-decoration: none;

color: #0D7ADA
        }
    }

    &__one{
        
        grid-column: center-start /col-end 3;
    }
    &__two{
        // background-color: yellow;
        grid-column:col-end 3/col-end 6;
    }
    &__three{
      //  background-color: olivedrab;
        grid-column: col-start 7/col-end 9;
        padding-left: 5rem;
    }


    &__Card{
        padding: 3rem;
        background: #FFFFFF;
box-shadow: 0px 10px 25px rgba(64, 87, 103, 0.1);
border-radius: 5px;

     margin-bottom: 2rem;

    }
    
   


}