/**
 * Basic typography style for copy text
 */
body {
  font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: normal;
    p{
      font-size: 1.4rem;
      color: #405767;
    }
}
 .heading-primary{

  font-weight: bold;
  line-height: normal;
  font-size: 4rem;
  color: #405767;
  position: relative;
  
 
   &::before{
     position: absolute;
     top: 0;
     left: -.8rem;
     z-index: -1;
     content: "";
     width: 1.6rem;
     height: 1.6rem;
     border-radius: 50%;
     background-color:$green;

   }
    
   /*
    &::before{

      content: "\2022";
     
      top: -75%;
      left: -1.5rem;
      border-radius: 50%;
      color: $green;
      position: absolute;
      font-size: 7rem;
      z-index: -1;
      display:block;


    }
    */


  
  
 }
 .heading-secondary{
  font-weight: bold;
  line-height: normal;
  font-size: 3.5rem;
  color: #405767;
  position: relative;

  &::before{
    position: absolute;
    top: 0;
    left: -.8rem;
    z-index: -1;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color:$green;

  }

 }
 .heading-tert{
  font-weight: bold;
  line-height: normal;
  font-size: 1.8rem;
  line-height: 1;

  &__lighten{
   color: #0D7ADA;
  }
  &__darken{

    color: #405767;

  }
 }
 
 .heading4{
font-weight: bold;
line-height: normal;
font-size: 1.6rem;

&__lighten{
  color: #0D7ADA

}
&__darken{
  color: #405767;
}
&__white{
  color: #ffffff;
}

 }

 .heading5{

  font-weight: bold;
line-height: normal;
font-size: 1.4rem;
color: #405767;


 }
 .p-small{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: rgba(64, 87, 103, 0.5);
 }

 